<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Início</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-1 col-sm-2 col-md-3 col-lg-4></ion-col>
      <ion-col col-10 col-sm-8 col-md-6 col-lg-4>
        <button class="lamp" *ngIf="status == true" ion-button block outline color="button" (click)="toggle()">
          <ion-col col-3 col-sm-4>
            <ion-icon name="ios-bulb"></ion-icon>
          </ion-col>
          <ion-col col-9 col-sm-8>
            <span>On</span>
          </ion-col>
        </button>
        <button class="lamp" *ngIf="status == false" ion-button block outline color="button" (click)="toggle()">
          <ion-col col-3 col-sm-4>
            <ion-icon name="ios-bulb-outline"></ion-icon>
          </ion-col>
          <ion-col col-9 col-sm-8>
            <span>Off</span>
          </ion-col>
          </button>
      </ion-col>
      <ion-col col-1 col-sm-2 col-md-3 col-lg-4></ion-col>
    </ion-row>
    <ion-list *ngFor="let a of lampDB">
      <ion-item>
        {{a.status | json}}
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>
